/* PAGE STYLING */





/* MEDIA QUERIES */

@media screen and (min-width: 675px) {
    .body {
        background-color: #c1c1c1;
    }

    .aside{
      background-color: white;
      height: 500px;
      position: absolute;
      right: 15px;
      border: 0;
      width: 20%;
      padding: 2%;
    }
}


@media screen and (min-width: 999px) {
    .body {
        background-color: #d9d9d9;
    }
}


@media screen and (min-width: 1280px) {
    .body {
        background-color: #f2f2f2;
    }
}
